body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #301579;
}

.login-container {
    background-color: #a19999;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(11, 7, 7, 0.1);
    text-align: center;
}

.login-image {
    width: 10%;
    height: auto;
    border-radius: 10px;
}

.login-form {
    margin-top: 20px;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #918686;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #1a589a;
    color: #128c63;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #13569e;
}
